.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.slider {
  width: 25vw;
}

.label {
  width: 15vw;
}

.label05 {
  width: 5vw;
}

.label2 {
  width: 40vw;
}

.level-label {
  width: 24vw;
}

.level-margin {
  width: 25vw;
}

.input-number {
  min-width: 3rem;
  max-width: 4rem;
}

.canvas-width {
  width: 26.66vh;
}

.water-bottle {
  display: block;
  margin: 0 auto;
}

.water-container {
  height: 80vh;
}

.cloud {
  position: absolute;
  top: 12vh;
  left: 50vw;
  width: 50vw;
  height: 25vh;
}

.button-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.marker-container {
  position: relative;
}

.marker {
  color: red;
  position: absolute;
  top: 1.5rem;
}

.vertical-profile {
  height: 80vh;
}

small {
  line-height: 1rem !important;
}

small p {
    margin: 0;
    padding: 0;
}
